

to get this to work, 
#1 install better discord and 
#2 install any theme and 
#3 replace the css in it with allCSS.css
#3b additionally, i have a modified version of the "Dark Matter" theme running simultaneously.


// modified dark matter start

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 30px;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}

// modified dark matter end

#3c you may have to toggle the two themes on and off in different sequences to get the desired effect


![Demonstration](https://raw.githubusercontent.com/JeremWatts/ClearVisionV7fixed/refs/heads/main/demonstration2.png)

if you know how to get images to work in readmes on github, let me know
