

to get this to work, 
#1 install better discord and 
#2 install any theme and 
#3 replace the css in it with allCSS.css
#3b additionally, i have a modified version of the "Dark Matter" theme running simultaneously.


// modified dark matter start

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 30px;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}

// modified dark matter end

#3c you may have to toggle the two themes on and off in different sequences to get the desired effect
i'll upload a pic at some point. for now i don't want to spoil the fun.
